
.container {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 500px;

  .loginDiv {
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 20px;
  }
}

.wrapper {
  width: 400px;
  padding: 20px;
  margin-left: 40vw;
}
.label {
  font-size: 15px;
}
.inputFont {
  font-size: 16px;
}
.area {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}