.container {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    margin-left: 10px;

    h2 {
      font-size: 20px;
    }
  }
}